@mixin flexCenter($justify) {
        display: flex;
        align-items: center;
        justify-content: $justify;
}

@mixin absCenter {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}
