//---------------------Colors variable---------------------
//----------------------------------------------------------
// 500 - default color,  400 - lighter of default color, 600 darker of default color
$color-primary-400: #4dabf5;
$color-primary-500: #2196f3;
$color-primary-600: #1769aa;

$color-secondary-400: #f73378;
$color-secondary-500: #f50057;
$color-secondary-600: #ab003c;

$color-tertiary-500: #2998ff;
$color-tertiary-600: #5643fa;

$color-yellow-400: #ffe179;
$color-yellow-500: #ffd74c;
$color-yellow-600: #ffcd1f;

$color-error-main: #ea2027;
$color-info-main: #2998ff;
$color-success-main: #27ae60;
$color-warning-main: #ffcd1f;

$primary-font-color: #fefefe;
$secondary-font-color: #171717;

// FONT VARIABLES
$primary-font: "SF-Pro", sans-serif;
$secondary-font: "Josefin Sans", sans-serif;

//utils variable lg > md > sm > xs
$shadow-lg: 0 2rem 6rem rgba(0, 0, 0, 0.3);
$shadow-md: 0 2rem 5rem rgba(0, 0, 0, 0.06);

$secondary-lg: 5px;
$rounded-md: 4px;

//----------------------------------------------------------
//----------------------------------------------------------
//--------------------- option variable --------------------
$grid-width: 144rem;
$gutter-horizontal: 1rem;
$ruler: 8px;
